* movie reviews NLTK movie_reviews
* subjectivitiydataset: nltk subjectivity

In [2]:
import torch
from torchtext.datasets import IMDB
from torchtext import data, datasets
import os
import pandas as pd
import spacy
import numpy as np
# Let's use simple Naive Bayes Classification
import numpy
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_validate
from sklearn.metrics import classification_report
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
vectorizer = CountVectorizer()
classifier = MultinomialNB()

In [3]:
nlp = spacy.load("en_core_web_lg")
# nlp.add_pipe("sentencizer")
# print(nlp.pipeline)

In [4]:

SEED = 5
torch.manual_seed(SEED)
torch.backends.cudnn.deterministic = True

In [5]:
training_set=IMDB(split="train")
testing_set=IMDB(split="test")

In [6]:
type(training_set)

torch.utils.data.datapipes.iter.grouping.ShardingFilterIterDataPipe

In [7]:
train_labels = []
train_texts  = []
valid_texts  = []
valid_labels = []
####################
train_text_pos = []
train_label_pos = []
train_text_neg = []
train_label_neg = []
for label, text in training_set:
  if label == 'pos':
    train_label_pos.append(1)
    train_text_pos.append(text)
  else:
    train_label_neg.append(0)
    train_text_neg.append(text)

In [8]:
valid_texts=train_text_pos[0:2500]+train_text_neg[0:2500]

In [9]:
valid_labels=train_label_pos[0:2500]+train_label_neg[0:2500]

In [10]:
train_texts=train_text_pos[2500:]+train_text_neg[2500:]

In [11]:
train_labels=train_label_pos[2500:]+train_label_neg[2500:]

In [12]:
len(train_texts)

20000

In [13]:
len(train_texts)

20000

In [14]:
test_labels = []
test_texts = []
for label, text in testing_set:
  if label == 'pos':
    test_labels.append(1)
  else:
    test_labels.append(0)
  test_texts.append(text)

In [15]:
len(test_texts)

25000

In [16]:
df_train=pd.DataFrame({'review': train_texts, 'label':train_labels})
df_valid=pd.DataFrame({'review': valid_texts, 'label':valid_labels})
df_test=pd.DataFrame({'review': test_texts, 'label':test_labels})

In [17]:
df_train[df_train.duplicated()] # we have 77 item duplicated out of 10k

                                                  review  label
644    I loved this movie. I knew it would be chocked...      1
1812   During a Kurt Weill celebration in Brooklyn, W...      1
1821   I really enjoyed this movie. The script is fre...      1
3158   I'm gonna tip the scales here a bit and say I ...      1
3624   I am decidedly not in the target audience for ...      1
...                                                  ...    ...
19810  When i got this movie free from my job, along ...      0
19883  No spoilers here but I have been a fan since W...      0
19884  I feel like I've just watched a snuff film.......      0
19885  I absolutely hate this programme, what kind of...      0
19968  Sondra Locke stinks in this film, but then she...      0

[77 rows x 2 columns]

In [18]:
df_test[df_test.duplicated()] # we 199 itmes duplicates out of 25k

                                                  review  label
861    The movie was very good. I'm an avid mystery f...      1
908    I've been strangely attracted to this film sin...      1
919    I was fortunate to attend the London premier o...      1
1510   A truly excellent look at the world and the re...      1
1520   Robert Jordan is a television star. Robert Jor...      1
...                                                  ...    ...
24146  Poorly acted, poorly written and poorly direct...      0
24147  Ed Wood rides again. The fact that this movie ...      0
24266  This movie looked like it was rushed to releas...      0
24401  I kind of like JAG. It do have it´s charm but ...      0
24857  A friend and I went to see this movie. We have...      0

[199 rows x 2 columns]

In [19]:
df_valid[df_valid.duplicated()] # we have 8 item duplicated out of 2.5k

                                                 review  label
763   A have a female friend who is currently being ...      1
924   This movie surprised me. Some things were "cli...      1
947   Wow! So much fun! Probably a bit much for norm...      1
1380  I Enjoyed Watching This Well Acted Movie Very ...      1
1642  Smallville episode Justice is the best episode...      1
2668  I am not so much like Love Sick as I image. Fi...      0
3164  Holy freaking God all-freaking-mighty. This mo...      0
3201  The story and the show were good, but it was r...      0

In [20]:
vectorizer = CountVectorizer()
classifier = MultinomialNB()
classifier_SVM = SVC()

In [21]:
corpus =train_texts+valid_texts+test_texts
label =train_labels+valid_labels+test_labels
vectors = vectorizer.fit_transform(corpus)
train_vectors = vectors[:len(train_texts)]
valid_vectors = vectors[len(train_texts):len(train_texts)+len(valid_texts)]
test_vectors = vectors[len(train_texts)+len(valid_texts):]

In [22]:
print(train_vectors.shape)
print(valid_vectors.shape)
print(test_vectors.shape)

(20000, 101895)
(5000, 101895)
(25000, 101895)

In [23]:
scores = cross_validate(classifier, vectors, label, cv=StratifiedKFold(n_splits=10) , scoring=['f1_micro'])
average = sum(scores['test_f1_micro'])/len(scores['test_f1_micro'])
print(round(average, 3))

0.807

In [24]:
# scores = cross_validate(classifier_SVM, vectors, label, cv=StratifiedKFold(n_splits=10) , scoring=['f1_micro'])
# average = sum(scores['test_f1_micro'])/len(scores['test_f1_micro'])
# print(round(average, 3))

## Baseline Vader for document level sentiment polarity classifcation

In [25]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer, VaderConstants
analyzer = SentimentIntensityAnalyzer()

In [26]:
scores = [analyzer.polarity_scores(docs) for docs in train_texts]
labels = [(0 if s.get("compound")<0 else 1)for s in scores]
print(classification_report(train_labels, labels, digits=3))

              precision    recall  f1-score   support

           0      0.779     0.537     0.636     10000
           1      0.647     0.848     0.734     10000

    accuracy                          0.692     20000
   macro avg      0.713     0.692     0.685     20000
weighted avg      0.713     0.692     0.685     20000

In [27]:
scores = [analyzer.polarity_scores(docs) for docs in test_texts]
labels = [(0 if s.get("compound")<0 else 1)for s in scores]
print(classification_report(test_labels, labels, digits=3))

              precision    recall  f1-score   support

           0      0.793     0.536     0.640     12500
           1      0.650     0.860     0.740     12500

    accuracy                          0.698     25000
   macro avg      0.722     0.698     0.690     25000
weighted avg      0.722     0.698     0.690     25000

# second data set

In [28]:
def read_file(path: str):
  with open(path, encoding = "ISO-8859-1") as file_to_read:
    content = np.array(file_to_read.readlines())

  return np.array([line.strip().lower() for line in content])
objective_df = pd.DataFrame(read_file("data/plot.tok.gt9.5000"),columns=["Sentence"])
subjective_df = pd.DataFrame(read_file("data/quote.tok.gt9.5000"),columns=["Sentence"])
subjective_df['label'] = 1
objective_df['label'] = 0

data_df = pd.concat([objective_df, subjective_df], ignore_index=False)
data_df.head()

                                            Sentence  label
0  the movie begins in the past where a young boy...      0
1  emerging from the human psyche and showing cha...      0
2  spurning her mother's insistence that she get ...      0
3  amitabh can't believe the board of directors a...      0
4  she , among others excentricities , talks to a...      0

In [29]:
train_sentences, test_sentences, train_labels, test_labels = train_test_split(data_df.Sentence, data_df.label,
                                                                              test_size=0.3, random_state=100)

In [30]:
type(train_sentences)

pandas.core.series.Series

In [31]:
train_labels

1191    0
4458    0
1131    0
4562    1
1579    1
       ..
350     0
79      0
3039    1
1936    1
640     1
Name: label, Length: 7000, dtype: int64

In [32]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(train_sentences[0][0])

0    the movie begins in the past where a young boy...
0    smart and alert , thirteen conversations about...
Name: Sentence, dtype: object

In [33]:
train_sentences[0][0]

0    the movie begins in the past where a young boy...
0    smart and alert , thirteen conversations about...
Name: Sentence, dtype: object

In [34]:
def doc_preprocessor(text):
    """
    Preprocessor that returns a list of lemmas of a given text.
    
    Args:
        - text: string that contains the text to be preprocessed
        
    Returns:
        - tokens: a list of strings (lemmas)
    """
    
    doc = nlp(text)
    tokens = [token.lemma_ for token in doc]
#     tokens = [token.text for token in doc]
    return tokens

In [35]:
print(' '.join(doc_preprocessor(train_sentences.iloc[5])))
##
print("######output without lemmas#################")
print(train_sentences.iloc[5])

with a schizophrenic father , a self - absorb , distant mother , and a shark - like young republican big brother , igby figure there must be a well life out there , and he set out to find it .
######output without lemmas#################
with a schizophrenic father , a self-absorbed , distant mother , and a shark-like young republican big brother , igby figures there must be a better life out there , and he sets out to find it .

In [36]:
train_sentences.loc[0]

0    the movie begins in the past where a young boy...
0    smart and alert , thirteen conversations about...
Name: Sentence, dtype: object

In [53]:
vectorizer_SUBJ = CountVectorizer(strip_accents=None, lowercase=True,
                                 preprocessor=None, tokenizer=doc_preprocessor,
                                 stop_words=None, ngram_range=(1,1),
                                 binary=False)

In [54]:
vectorizer_SUBJ.fit(train_sentences)

/home/mostafahaggag/python_env/lib/python3.8/site-packages/sklearn/feature_extraction/text.py:516: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

CountVectorizer(tokenizer=<function doc_preprocessor at 0x7f9e12653670>)

In [55]:
train_vec = vectorizer_SUBJ.transform(train_sentences)
test_vec  = vectorizer_SUBJ.transform(test_sentences)

In [56]:
train_vec

<7000x14531 sparse matrix of type '<class 'numpy.int64'>'
	with 153666 stored elements in Compressed Sparse Row format>

In [57]:
test_vec

<3000x14531 sparse matrix of type '<class 'numpy.int64'>'
	with 62982 stored elements in Compressed Sparse Row format>

In [58]:
m_naive_bayes = MultinomialNB()
m_naive_bayes.fit(train_vec, train_labels)
te_pred = m_naive_bayes.predict(test_vec)

In [59]:
te_pred = m_naive_bayes.predict(test_vec)

In [60]:
con_mat = classification_report(test_labels, te_pred, target_names=['objective', 'subjective'])
print(con_mat)

              precision    recall  f1-score   support

   objective       0.94      0.89      0.92      1495
  subjective       0.90      0.94      0.92      1505

    accuracy                           0.92      3000
   macro avg       0.92      0.92      0.92      3000
weighted avg       0.92      0.92      0.92      3000

In [64]:
subj_lab = data_df.label
subj_vec = vectorizer_SUBJ.transform(data_df.Sentence)
subj_classifier = MultinomialNB()
subj_classifier.fit(subj_vec, subj_lab)
subj_pred = m_naive_bayes.predict(subj_vec)

In [65]:
con_mat_sb = classification_report(subj_lab, subj_pred, target_names=['objective', 'subjective'])
print(con_mat_sb)

              precision    recall  f1-score   support

   objective       0.96      0.93      0.95      5000
  subjective       0.93      0.97      0.95      5000

    accuracy                           0.95     10000
   macro avg       0.95      0.95      0.95     10000
weighted avg       0.95      0.95      0.95     10000

In [1]:
from torchtext.vocab import GloVe

In [2]:
global_vectors = GloVe(name='6B', dim=50)

.vector_cache/glove.6B.zip: 862MB [34:18, 419kB/s]
100%|███████████████████████████████▉| 399999/400000 [00:05<00:00, 67493.80it/s]