* movie reviews NLTK movie_reviews
* subjectivitiydataset: nltk subjectivity

In [1]:
import torch
from torchtext.datasets import IMDB
from torchtext import data, datasets
import os
import pandas as pd

In [47]:

SEED = 5
torch.manual_seed(SEED)
torch.backends.cudnn.deterministic = True

In [2]:
training_set=IMDB(split="train")
testing_set=IMDB(split="test")

In [52]:
type(training_set)

torch.utils.data.datapipes.iter.grouping.ShardingFilterIterDataPipe

In [56]:
train_labels = []
train_texts  = []
valid_texts  = []
valid_labels = []
####################
train_text_pos = []
train_label_pos = []
train_text_neg = []
train_label_neg = []
for label, text in training_set:
  if label == 'pos':
    train_label_pos.append(1)
    train_text_pos.append(text)
  else:
    train_label_neg.append(0)
    train_text_neg.append(text)

In [79]:
valid_texts=train_text_pos[0:2500]+train_text_neg[0:2500]

In [80]:
valid_labels=train_label_pos[0:2500]+train_label_neg[0:2500]

In [81]:
train_texts=train_text_pos[2500:]+train_text_neg[2500:]

In [82]:
train_labels=train_label_pos[2500:]+train_label_neg[2500:]

In [83]:
len(train_texts)

20000

In [84]:
len(train_texts)

20000

In [85]:
test_labels = []
test_texts = []
for label, text in testing_set:
  if label == 'pos':
    test_labels.append(1)
  else:
    test_labels.append(0)
  test_texts.append(text)

In [86]:
len(test_texts)

25000

In [90]:
df_train=pd.DataFrame({'review': train_texts, 'label':train_labels})
df_valid=pd.DataFrame({'review': valid_texts, 'label':valid_labels})
df_test=pd.DataFrame({'review': test_texts, 'label':test_labels})

In [93]:
df_train[df_train.duplicated()] # we have 77 item duplicated out of 10k

                                                  review  label
644    I loved this movie. I knew it would be chocked...      1
1812   During a Kurt Weill celebration in Brooklyn, W...      1
1821   I really enjoyed this movie. The script is fre...      1
3158   I'm gonna tip the scales here a bit and say I ...      1
3624   I am decidedly not in the target audience for ...      1
...                                                  ...    ...
19810  When i got this movie free from my job, along ...      0
19883  No spoilers here but I have been a fan since W...      0
19884  I feel like I've just watched a snuff film.......      0
19885  I absolutely hate this programme, what kind of...      0
19968  Sondra Locke stinks in this film, but then she...      0

[77 rows x 2 columns]

In [89]:
df_test[df_test.duplicated()] # we 199 itmes duplicates out of 25k

                                                  review  label
1014   Sigh. I'm baffled when I see a short like this...      0
1474   This is an Emperor's New Clothes situation. So...      0
3086   This is one of those star-filled over-the-top ...      0
3406   Having already seen the original "Jack Frost",...      0
3407   Ill-conceived sequel(..the absurd idea of havi...      0
...                                                  ...    ...
24911  I watched Pola X because Scott Walker composed...      1
24912  Leos Carax has made 3 great movies: Boys Meet ...      1
24913  Leos Carax is brilliant and is one of the best...      1
24914  I've tried to reconcile why so many bad review...      1
24962  I have seen most of the Tarzan episodes. Certa...      1

[199 rows x 2 columns]

In [94]:
df_valid[df_valid.duplicated()] # we have 8 item duplicated out of 2.5k

                                                 review  label
763   A have a female friend who is currently being ...      1
924   This movie surprised me. Some things were "cli...      1
947   Wow! So much fun! Probably a bit much for norm...      1
1380  I Enjoyed Watching This Well Acted Movie Very ...      1
1642  Smallville episode Justice is the best episode...      1
2668  I am not so much like Love Sick as I image. Fi...      0
3164  Holy freaking God all-freaking-mighty. This mo...      0
3201  The story and the show were good, but it was r...      0